# Codegen (bun run codegen)
OBSERVE_OPENAPI_SPEC="https://<customer-id>.observeinc.com/v1/openapi"
OBSERVE_GQL_SPEC="https://<customer-id>.observeinc.com/v1/meta"
OBSERVE_GQL_TOKEN="<customer-id> <access-key>"

# Integration tests (bun run test:integration)
OBSERVE_INTEGRATION_CUSTOMER="<customer-id>"
OBSERVE_INTEGRATION_DOMAIN="observeinc.com"
OBSERVE_INTEGRATION_API_TOKEN="<api-token>"
